.rounded-rectangle {
    width: 500px;
    height: 200px;
    background-color: #acb3ac;
    border-radius: 20px; /* 角の丸み */
    text-align: center;
    line-height: 100px;
    animation: Fukidashiop 4s ease-out;
    position: absolute;
    right:200px;
    font-size: 32px;
}
@keyframes Fukidashiop{
    from {
      opacity:0;
    }
    to {
        opacity:100;
    }
  }